@{
    var view = Session["view"].ToString();
    var create = Session["create"].ToString();
    var accView = Session["accView"].ToString();
    var name = Session["name"].ToString();
    int jv = Convert.ToInt32(Session["JV"]);
    int br = Convert.ToInt32(Session["BR"]);
    int bp = Convert.ToInt32(Session["BP"]);
    int cr = Convert.ToInt32(Session["CR"]);
    int cp = Convert.ToInt32(Session["CP"]);
    int sv = Convert.ToInt32(Session["SV"]);
    int pv = Convert.ToInt32(Session["PV"]);
    int upsv = Convert.ToInt32(Session["UPSV"]);
    int uppv = Convert.ToInt32(Session["UPPV"]);
    int ev = Convert.ToInt32(Session["EV"]);
    int homeScreen = Convert.ToInt32(Session["homeScreen"]);
    int allReports = Convert.ToInt32(Session["all_reports"]);
    int saleReports = Convert.ToInt32(Session["sale_reports"]);
    int expenseReports = Convert.ToInt32(Session["expense_reports"]);
    int viewGoods = Convert.ToInt32(Session["view_goods"]);
    int supervision = Convert.ToInt32(Session["supervision"]);
    int viewEmployee = Convert.ToInt32(Session["emplyee_view"]);
    int viewAttendence = Convert.ToInt32(Session["view_attendence"]);
    int viewGoodTypes = Convert.ToInt32(Session["view_goodTypes"]);
    int attendenceReports = Convert.ToInt32(Session["attendence_reports"]);
    int addAttendence = Convert.ToInt32(Session["add_attedence"]);


    int addProduction = Convert.ToInt32(Session["addProduction"]);
    int bankPamyenetReports = Convert.ToInt32(Session["bankPaymentReports"]);

    int purchaseReports = Convert.ToInt32(Session["purchase_reports"]);


    int ID = Convert.ToInt32(Session["ID"]);

    int trialBalanceReport = Convert.ToInt32(Session["trialBalance"]);


    int mainReportss = Convert.ToInt32(Session["mainReportss"]);
    int multiVoucher = Convert.ToInt32(Session["multiVouchers"]);
    int unitRatess = Convert.ToInt32(Session["unitratess"]);
    int stockReportss = Convert.ToInt32(Session["stockReportss"]);
    int stockSummarry = Convert.ToInt32(Session["stockSummary"]);


    int pin = Convert.ToInt32(Session["pin"]);
    int pending = Convert.ToInt32(Session["pending"]);
    int orders = Convert.ToInt32(Session["orders"]);
    int wev = Convert.ToInt32(Session["wev"]); 
}


<style>
    @@media only screen and (min-width : 992px) {
        #left-nav {
            display: block !important;
        }

        #mobile-nav {
            display: none !important;
        }
    }

    @@media only screen and (min-width : 100px) and (max-device-width : 991px) {
        #left-nav {
            display: none !important;
        }

        #mobile-nav {
            display: block !important;
        }
    }
</style>

<link rel="stylesheet" type="text/css" href="~/content/Mobile Menu/css/style.css">

<script type="text/javascript">
        $(document).ready(function (e) {
            $("#mmenu").hide();
            $(".mtoggle").click(function () {
                $("#mmenu").slideToggle(500);
            });
        });
</script>





















<div id="mobile-nav">

    <nav id="mobile">

        <div id="toggle-bar">
            <strong><a class="mtoggle" href="javascript:;">MAIN MENU</a></strong>
            <a class="navicon mtoggle" href="javascript:;">MAIN MENU</a>
        </div>



        <ul id="mmenu" class="col-sm-12 col-xs-12">
            @*<li><a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">Home</a></li>
                <li>
                    <a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">Products</a>
                    <ul>
                        <li><a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">HTML</a></li>
                        <li><a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">CSS</a></li>
                        <li>
                            <a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">Javascript</a>
                            <ul>
                                <li><a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">jQuery</a></li>
                                <li><a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">MooTools</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
                <li><a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">About</a></li>
                <li><a href="./Simple jQuery Mobile Menu Demo_files/Simple jQuery Mobile Menu Demo.htm">Contact</a></li>*@
            <div class="col-md-2 pull-left left_col">

                <div class="left_col scroll-view">

                    <div class="navbar nav_title" style="border: 0;">
                        @if (name == "Admin")
                        {
                            <a href="~/Admin/index/@ID" target="_blank" class="site_title"><i class="fa fa-paw"></i> <span>Asian Industry</span></a>
                        }
                        else
                        {
                            <a href="~/Users/index/@ID" class="site_title"><i class="fa fa-paw"></i> <span>Asian Industry</span></a>
                        }
                    </div>
                    <div class="clearfix"></div>

                    <!-- menu prile quick info -->
                    <div class="profile">
                        <div class="profile_pic">
                            <img src="@Session["image"]" alt="..." class="img-circle profile_img">
                        </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@Session["username"]</h2>
                        </div>
                    </div>
                    <!-- /menu prile quick info -->

                    <br />

                    <div class="clearfix"></div>

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

                        <div class="menu_section">
                            <h3>General</h3>
                            <ul class="nav side-menu">
                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Users <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">
                                        @if (create == "Y")
                                        {
                                            <li>
                                                <a target="_blank" href="~/USER_CRUD/Create/">Add User</a>
                                            </li>
                                        }
                                        @if (view == "Y")
                                        {
                                            <li>
                                                <a target="_blank" href="~/User_CRUD/viewUsers/">View Users</a>
                                            </li>
                                        }
                                        @if (create == "Y")
                                        {

                                            <li>
                                                <a href="~/USER_CRUD/ReportsPermissions/">Add Permissions</a>
                                            </li>
                                        }
                                    </ul>
                                </li>
                                @if (accView == "Y")
                                {
                                    <li>
                                        <a target="_blank" href="~/Account_CRUD/Index/"><i class="fa fa-bar-chart-o"></i>Accounts</a>

                                    </li>
                                }

                                <li>
                                    <a><i class="fa fa-bar-chart-o"></i> Vouchers <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">


                                        @if (jv == 1)
                                        {

                                            <li>
                                                <a target="_blank" href="~/Transactions/journal/">Journal Voucher</a>
                                            </li>

                                        }

                                        @if (br == 1)
                                        {

                                            <li>
                                                <a href="~/Transactions/bank/">Bank Recieved</a>
                                            </li>

                                        }

                                        @if (bp == 1)
                                        {

                                            <li>
                                                <a href="~/Transactions/bankPayment/">Bank Payment</a>
                                            </li>

                                        }

                                        @if (cp == 1)
                                        {

                                            <li>
                                                <a href="~/Transactions/cashPayment/">Cash Payment</a>
                                            </li>

                                        }

                                        @if (cr == 1)
                                        {
                                            <li>
                                                <a href="~/Transactions/cashReceive/">Cash Receive</a>
                                            </li>

                                        }
                                        @if (sv == 1)
                                        {
                                            <li>
                                                <a href="~/SaleVoucher/">Sale Voucher</a>
                                            </li>

                                        }



                                        @if (pv == 1)
                                        {

                                            <li>
                                                <a href="~/SaleVoucher/purchaseVoucher/">Purchase Voucher</a>
                                            </li>

                                        }

                                        @if (upsv == 1)
                                        {

                                            <li>
                                                <a href="~/SaleVoucher/unitPriceSV/">UnitPriceSV</a>
                                            </li>

                                        }

                                        @if (uppv == 1)
                                        {

                                            <li>
                                                <a href="~/SaleVoucher/unitPricePV/">UnitPricePV</a>
                                            </li>

                                        }

                                        @if (ev == 1)
                                        {

                                            <li>
                                                <a target="_blank" href="~/ExpenseVoucher/index/">Expense Voucher</a>
                                            </li>

                                        }

                                        @if (wev == 1)
                                        {

                                            <li>
                                                <a target="_blank" href="~/Transactions/weightExpense/">Weight Expense Voucher</a>
                                            </li>
                                        }
                                    </ul>
                                </li>



                                @if (multiVoucher == 1)
                                {

                                    <li>

                                        <a><i class="fa fa-bar-chart-o"></i> Multi Voucher <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">


                                            <li>
                                                <a target="_blank" href="~/Transactions/MultiVoucher/">Multi Debit</a>
                                            </li>

                                            <li>
                                                <a target="_blank" href="~/Transactions/MultiVoucher2/">Multi Credit</a>
                                            </li>




                                        </ul>

                                    </li>

                                }















                                <li>

                                    <a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu" style="display: none">



                                        @if (allReports == 1)
                                        {

                                            <li>
                                                <a target="_blank" href="~/Transactions/history/">Ledgers</a>

                                            </li>

                                        }

                                        @if (mainReportss == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/Transactions/mainReports/">Main Reports</a>

                                            </li>
                                        }
                                        @if (saleReports == 1)
                                        {

                                            <li>

                                                <a target="_blank" href="~/SaleVoucher/salesReport/">Sales Report</a>

                                            </li>

                                        }

                                        @if (saleReports == 1)
                                        {


                                            <li style="">

                                                <a target="_blank" href="~/SaleVoucher/salesReportByItem/"> Sales Report By Item</a>

                                            </li>

                                        }

                                        @if (expenseReports == 1)
                                        {


                                            <li>
                                                <a target="_blank" href="~/ExpenseVoucher/ExpenseReports/">Expense Reports</a>
                                            </li>

                                        }

                                        @if (bankPamyenetReports == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/Transactions/BankPaymentReport/">Bank Payment Reports</a>
                                            </li>
                                        }

                                        @if (purchaseReports == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/SaleVoucher/purchaseReport/">Purchase Reports</a>
                                            </li>
                                        }

                                        @if (addProduction == 1)
                                        {


                                            <li>
                                                <a target="_blank" href="~/GoodsManagement/history/">Production Reports</a>
                                            </li>
                                        }

                                        @if (trialBalanceReport == 1)
                                        {

                                            <li>
                                                <a href="~/Transactions/TrialBalanceReport/">Trial Balance Report</a>
                                            </li>
                                        }

                                        @if (stockReportss == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/Stock/StockReport/"> Stock Report</a>

                                            </li>
                                        }
                                    </ul>

                                </li>













                                <li>

                                    <a><i class="fa fa-bar-chart-o"></i> Employees <span class="fa fa-chevron-down"></span></a>

                                    <ul class="nav child_menu" style="display: none">

                                        @if (viewEmployee == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/Employee/Index/">ALL Employees</a>
                                            </li>
                                        }

                                        @if (addAttendence == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/Employee/AttendenceSearch/1">Employees Attendence</a>
                                            </li>
                                        }
                                        @if (viewAttendence == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/Employee/AttendenceSearch/2">View Attendence</a>
                                            </li>
                                        }


                                        @if (attendenceReports == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/Employee/AttendenceReports/">View Attendence Reports</a>
                                            </li>
                                        }
                                    </ul>
                                </li>

                                @if (supervision == 1)
                                {
                                    <li>

                                        <a><i class="fa fa-bar-chart-o"></i> Supervisions <span class="fa fa-chevron-down"></span></a>

                                        <ul class="nav child_menu" style="display: none">


                                            <li>
                                                <a target="_blank" href="~/TemporaryReports/ViewTempReports/">Admins</a>
                                            </li>

                                            <li>
                                                <a target="_blank" href="~/USER_CRUD/Supervision/">User's Wise</a>
                                            </li>

                                        </ul>
                                    </li>


                                }





                                <li>

                                    <a><i class="fa fa-bar-chart-o"></i> Goods <span class="fa fa-chevron-down"></span></a>

                                    <ul class="nav child_menu" style="display: none">


                                        @if (viewGoods == 1)
                                        {
                                            <li>
                                                <a target="_blank" href="~/GoodsManagement/listOfGoods/">All Goods</a>
                                            </li>
                                        }

                                        @if (viewGoodTypes == 1)
                                        {

                                            <li>
                                                <a target="_blank" href="~/GoodsManagement/listGoodTypes/">Good Types</a>
                                            </li>

                                        }

                                        @if (unitRatess == 1)
                                        {

                                            <li>
                                                <a href="~/GoodsManagement/viewUnitRates/">Unit Rates </a>
                                            </li>
                                        }

                                    </ul>
                                </li>

                                @if (stockSummarry == 1)
                                {

                                    <li>
                                        <a target="_blank" href="~/Stock/index/"><i class="fa fa-bar-chart-o"></i> Stock Summary</a>

                                    </li>
                                }


                                @if (orders == 1)
                                {

                                    <li>

                                        <a><i class="fa fa-bar-chart-o"></i> Orders <span class="fa fa-chevron-down"></span></a>
                                        <ul class="nav child_menu" style="display: none">

                                            @if (pending == 1)
                                            {

                                                <li>
                                                    <a target="_blank" href="~/SaleOrder/listOfTempOrders">Pending Orders</a>
                                                </li>

                                            }
                                            <li>
                                                <a target="_blank" href="~/SaleOrder/">Sale Orders</a>
                                            </li>

                                            <li>
                                                <a target="_blank" href="~/PurchaseOrder/">Purchase Orders</a>
                                            </li>




                                        </ul>

                                    </li>

                                }
                                <li style="">
                                    <a href="~/Home/logout/"><i class="fa fa-bar-chart-o"></i> Log out</a>
                                </li>
                            </ul>
                        </div>




                    </div>
                    <!-- /sidebar menu -->

                </div>

            </div>
        </ul>

    </nav>
</div>











<!------------------------------------------------------------------------------------------------------------>

<div class="col-md-2 pull-left left_col" id="left-nav">

    <div class="left_col scroll-view">

        <div class="navbar nav_title" style="border: 0;">
            @if (name == "Admin")
            {
            <a href="~/Admin/index/@ID" target="_blank" class="site_title"><i class="fa fa-paw"></i> <span>Asian Industry</span></a>
            }
            else
            {
            <a href="~/Users/index/@ID" class="site_title"><i class="fa fa-paw"></i> <span>Asian Industry</span></a>
            }
        </div>
        <div class="clearfix"></div>

        <!-- menu prile quick info -->
        <div class="profile">
            <div class="profile_pic">
                <img src="@Session["image"]" alt="..." class="img-circle profile_img">
            </div>
            <div class="profile_info">
                <span>Welcome,</span>
                <h2>@Session["username"]</h2>
            </div>
        </div>
        <!-- /menu prile quick info -->

        <br />

        <div class="clearfix"></div>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

            <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Users <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">
                            @if (create == "Y")
                            {
                                <li>
                                    <a target="_blank" href="~/USER_CRUD/Create/">Add User</a>
                                </li>
                            }
                            @if (view == "Y")
                            {
                                <li>
                                    <a target="_blank" href="~/User_CRUD/viewUsers/">View Users</a>
                                </li>
                            }
                            @if (create == "Y")
                            {

                                <li>
                                    <a href="~/USER_CRUD/ReportsPermissions/">Add Permissions</a>
                                </li>
                            }
                        </ul>
                    </li>
                    @if (accView == "Y")
                    {
                        <li>
                            <a target="_blank" href="~/Account_CRUD/Index/"><i class="fa fa-bar-chart-o"></i>Accounts</a>

                        </li>
                    }

                    <li>
                        <a><i class="fa fa-bar-chart-o"></i> Vouchers <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">


                            @if (jv == 1)
                            {

                                <li>
                                    <a target="_blank" href="~/Transactions/journal/">Journal Voucher</a>
                                </li>

                            }

                            @if (br == 1)
                            {

                                <li>
                                    <a href="~/Transactions/bank/">Bank Recieved</a>
                                </li>

                            }

                            @if (bp == 1)
                            {

                                <li>
                                    <a href="~/Transactions/bankPayment/">Bank Payment</a>
                                </li>

                            }

                            @if (cp == 1)
                            {

                                <li>
                                    <a href="~/Transactions/cashPayment/">Cash Payment</a>
                                </li>

                            }

                            @if (cr == 1)
                            {
                                <li>
                                    <a href="~/Transactions/cashReceive/">Cash Receive</a>
                                </li>

                            }
                            @if (sv == 1)
                            {
                                <li>
                                    <a href="~/SaleVoucher/">Sale Voucher</a>
                                </li>

                            }



                            @if (pv == 1)
                            {

                                <li>
                                    <a href="~/SaleVoucher/purchaseVoucher/">Purchase Voucher</a>
                                </li>

                            }

                            @if (upsv == 1)
                            {

                                <li>
                                    <a href="~/SaleVoucher/unitPriceSV/">UnitPriceSV</a>
                                </li>

                            }

                            @if (uppv == 1)
                            {

                                <li>
                                    <a href="~/SaleVoucher/unitPricePV/">UnitPricePV</a>
                                </li>

                            }

                            @if (ev == 1)
                            {

                                <li>
                                    <a target="_blank" href="~/ExpenseVoucher/index/">Expense Voucher</a>
                                </li>

                            }

                            @if (wev == 1)
                            {

                                <li>
                                    <a target="_blank" href="~/Transactions/weightExpense/">Weight Expense Voucher</a>
                                </li>
                            }
                        </ul>
                    </li>



                    @if (multiVoucher == 1)
                    {

                        <li>

                            <a><i class="fa fa-bar-chart-o"></i> Multi Voucher <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">


                                <li>
                                    <a target="_blank" href="~/Transactions/MultiVoucher/">Multi Debit</a>
                                </li>

                                <li>
                                    <a target="_blank" href="~/Transactions/MultiVoucher2/">Multi Credit</a>
                                </li>




                            </ul>

                        </li>

                    }















                    <li>

                        <a><i class="fa fa-bar-chart-o"></i> Reports <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu" style="display: none">



                            @if (allReports == 1)
                            {

                                <li>
                                    <a target="_blank" href="~/Transactions/history/">Ledgers</a>

                                </li>

                            }

                            @if (mainReportss == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/Transactions/mainReports/">Main Reports</a>

                                </li>
                            }
                            @if (saleReports == 1)
                            {

                                <li>

                                    <a target="_blank" href="~/SaleVoucher/salesReport/">Sales Report</a>

                                </li>

                            }

                            @if (saleReports == 1)
                            {


                                <li style="">

                                    <a target="_blank" href="~/SaleVoucher/salesReportByItem/"> Sales Report By Item</a>

                                </li>

                            }

                            @if (expenseReports == 1)
                            {


                                <li>
                                    <a target="_blank" href="~/ExpenseVoucher/ExpenseReports/">Expense Reports</a>
                                </li>

                            }

                            @if (bankPamyenetReports == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/Transactions/BankPaymentReport/">Bank Payment Reports</a>
                                </li>
                            }

                            @if (purchaseReports == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/SaleVoucher/purchaseReport/">Purchase Reports</a>
                                </li>
                            }

                            @if (addProduction == 1)
                            {


                                <li>
                                    <a target="_blank" href="~/GoodsManagement/history/">Production Reports</a>
                                </li>
                            }

                            @if (trialBalanceReport == 1)
                            {

                                <li>
                                    <a href="~/Transactions/TrialBalanceReport/">Trial Balance Report</a>
                                </li>
                            }

                            @if (stockReportss == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/Stock/StockReport/"> Stock Report</a>

                                </li>
                            }
                        </ul>

                    </li>













                    <li>

                        <a><i class="fa fa-bar-chart-o"></i> Employees <span class="fa fa-chevron-down"></span></a>

                        <ul class="nav child_menu" style="display: none">

                            @if (viewEmployee == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/Employee/Index/">ALL Employees</a>
                                </li>
                            }

                            @if (addAttendence == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/Employee/AttendenceSearch/1">Employees Attendence</a>
                                </li>
                            }
                            @if (viewAttendence == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/Employee/AttendenceSearch/2">View Attendence</a>
                                </li>
                            }


                            @if (attendenceReports == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/Employee/AttendenceReports/">View Attendence Reports</a>
                                </li>
                            }
                        </ul>
                    </li>

                    @if (supervision == 1)
                    {
                        <li>

                            <a><i class="fa fa-bar-chart-o"></i> Supervisions <span class="fa fa-chevron-down"></span></a>

                            <ul class="nav child_menu" style="display: none">


                                <li>
                                    <a target="_blank" href="~/TemporaryReports/ViewTempReports/">Admins</a>
                                </li>

                                <li>
                                    <a target="_blank" href="~/USER_CRUD/Supervision/">User's Wise</a>
                                </li>

                            </ul>
                        </li>


                    }





                    <li>

                        <a><i class="fa fa-bar-chart-o"></i> Goods <span class="fa fa-chevron-down"></span></a>

                        <ul class="nav child_menu" style="display: none">


                            @if (viewGoods == 1)
                            {
                                <li>
                                    <a target="_blank" href="~/GoodsManagement/listOfGoods/">All Goods</a>
                                </li>
                            }

                            @if (viewGoodTypes == 1)
                            {

                                <li>
                                    <a target="_blank" href="~/GoodsManagement/listGoodTypes/">Good Types</a>
                                </li>

                            }

                            @if (unitRatess == 1)
                            {

                                <li>
                                    <a href="~/GoodsManagement/viewUnitRates/">Unit Rates </a>
                                </li>
                            }

                        </ul>
                    </li>

                    @if (stockSummarry == 1)
                    {

                        <li>
                            <a target="_blank" href="~/Stock/index/"><i class="fa fa-bar-chart-o"></i> Stock Summary</a>

                        </li>
                    }


                    @if (orders == 1)
                    {

                        <li>

                            <a><i class="fa fa-bar-chart-o"></i> Orders <span class="fa fa-chevron-down"></span></a>
                            <ul class="nav child_menu" style="display: none">

                                @if (pending == 1)
                                {

                                    <li>
                                        <a target="_blank" href="~/SaleOrder/listOfTempOrders">Pending Orders</a>
                                    </li>

                                }
                                <li>
                                    <a target="_blank" href="~/SaleOrder/">Sale Orders</a>
                                </li>

                                <li>
                                    <a target="_blank" href="~/PurchaseOrder/">Purchase Orders</a>
                                </li>

                                <li><a target="_blank" href="~/SaleOrder/AllOrders/">All Orders</a> </li>


                            </ul>

                        </li>

                    }
                    <li style="">
                        <a href="~/Home/logout/"><i class="fa fa-bar-chart-o"></i> Log out</a>
                    </li>
                </ul>
            </div>




        </div>
        <!-- /sidebar menu -->

    </div>

</div>