@model List<ranglerz_project.Models.TransactionAccount>
@{
    ViewBag.Title = "Create Goods";
}







    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">



                    <div class="page-title">
                        <div class="title_left">
                            <h3>Goods Management</h3>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Add New Good <small></small></h2>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <br />
                                <form id="demo-form2" action="@Url.Action("Create","GoodsManagement")" method="post" data-parsley-validate class="form-horizontal form-label-left">

                                    <div class="form-group">
                                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Good Name </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <input id="middle-name" class="form-control col-md-7 col-xs-12" type="text" name="name" required>
                                        </div>
                                    </div>



                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Units <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="unit" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="KG">KG </option>
                                                <option value="Ltr">Liters </option>
                                                <option value="Bags">Bags </option>
                                            </select>
                                        </div>
                                    </div>


                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Good type <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="type" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="">Please select any </option>
                                                @foreach (var tr in ViewBag.goodTypes)
                                                {
                                                    <option value="@tr.type">@tr.type </option>
                                                }

                                            </select>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">
                                            Main Account <span class="required">*</span>
                                        </label>
                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="mainAccount" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="">Please select any </option>
                                                     
                                                <option value="1">Finished Good Inventories </option>
                                                <option value="2">BBM Purchase Main Accounts </option>
                                                <option value="3">Raw Materials Purchase</option>
                                                

                                            </select>
                                        </div>
                                    </div>
                                   
                                    <div class="form-group">
                                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">

                                            <input type="submit" value="Add Good" class="btn btn-success" />
                                        </div>

                                    </div>
                                </form>

                            </div>
                            <div class="form-group">


                            </div>
                            <div class="ln_solid"></div>



                        </div>

                    </div>
                </div>
            </div>
        </div>



    </div>






    <script language="javascript" type="text/javascript">

        //
        // This function will allow users to insert only numbers in the textboxes.
        //

        function onlyNumbers(evt) {
            var e = event || evt; // for trans-browser compatibility
            var charCode = e.which || e.keyCode;

            if (charCode > 31 && (charCode < 48 || charCode > 57))
                return false;
            return true;
        }

        //
        // This function is to calculate all the values of textboxes.
        //

        function Add() {
            var a, b, c, d;
            a = parseInt(document.getElementById("txtFirstValue").value);

            //
            // If textbox value is null i.e empty, then the below mentioned if condition will
            // come into picture and make the value to '0' to avoid errors.
            //

            if (isNaN(a) == true) {
                a = 0;
            }
            var b = parseInt(document.getElementById("txtSecondValue").value);
            if (isNaN(b) == true) {
                b = 0;
            }


            document.getElementById("txtTotal").value = a - b
        }
    </script>













