@model List<ranglerz_project.Models.Good_Types>
@{
    ViewBag.Title = "ViewGoodTypes";
    
    int addGoods = Convert.ToInt32(Session["add_goodTypes"]);
    int editGoods = Convert.ToInt32(Session["edit_goodTypes"]);
    int deleteGoods = Convert.ToInt32(Session["delete_goodTypes"]);
}






    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <!-- top navigation -->
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col col-md-10 pull-right " role="main">
                <div class="">
                    <div class="page-title">
                        <div class="title_left">
                            <h3>
                                Goods Types
                            </h3>
                        </div>


                    </div>
                    <div class="clearfix"></div>

                    <div class="row">

                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>View Goods Types</h2>
                                    <div class="clearfix"></div>
                                </div>


                                <div class="x_content">

                                    <table id="example" class="table table-striped responsive-utilities jambo_table">
                                        <thead>
                                            <tr class="headings">
                                                
                                                <th>Name </th>
                                          
                                                <th>Action</th>
                                            


                                            </tr>
                                        </thead>
                                        <form action="@Url.Action("GoodTypes","GoodsManagement")" method="get">

                                            @foreach (var v in Model.Where(x=>x.is_active=="Y").ToList())
                                            {


                                                <tbody>



                                                    <tr class="even pointer">

                                                        <td>@v.type</td>
                                              
                                                        <td>
                                                            @if(editGoods ==1)
                                                            { 
                                                        <a href="~/GoodsManagement/EditGoodType/@v.Id">Edit</a> 
                                                            }
                                                            @if(deleteGoods ==1)
                                                            { 
                                                        <a href="~/GoodsManagement/DeleteGoodType/@v.Id" onclick="return confirm('Are you sure you want to Delete?')">Delete</a>
                                                            }
                                                        </td>                                         
                                                    </tr>

                                                </tbody>


                                            }
                                            
                                            <td>
                                                @if(addGoods ==1)
                                             {
                                            <input type="submit" value="Add new" />
                                            }
                                            </td>
                                          

                                                

                                           

                                        </form>
                                    </table>
                                    
                                </div>


                            </div>
                        </div>

                        <br />
                        <br />
                        <br />

                    </div>
                    <br />
                    <br />

                </div>

            </div>
            <!-- /page content -->
        </div>

    </div>
    <script src="~/Scripts/js/bootstrap.min.js"></script>

    <script src="~/Scripts/js/custom.js"></script>

    <script type="text/javascript">
        function confirm_delete() {
            return confirm('are you sure?');
        }
    </script>


