@model List<ranglerz_project.Models.User>

@{

    ViewBag.Title = "Reports Permission";
}






    <div class="container body">


        <div class="main_container">

            @{
                Html.RenderPartial("_Partial");
            }

            <div class="right_col col-md-10 pull-right" role="main">
                <div class="">



                    <div class="page-title">
                        <div class="title_left">
                            <h3> Choose User</h3>
                        </div>

                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">

                            <div class="x_content">
                                <br />
                                <form id="demo-form2" action="@Url.Action("ReportsPermssionGet", "USER_CRUD")" method="get" data-parsley-validate class="form-horizontal form-label-left">

                                    <div class="form-group">

                                        <div class="col-md-6 col-sm-6 col-xs-12">
                                            <select name="user" required class="form-control chzn-select col-md-7 col-xs-12">
                                                <option value="">Please select any </option>
                                                @foreach (var user in Model)
                                                {
                                                    <option value="@user.Id">@user.name </option>
                                                }


                                            </select>
                                          
                                        </div>
                                        <div class="col-md-6 col-sm-6 col-xs-12">

                                            <input type="submit" value="Search" class="btn btn-success" />
                                        </div>
                                    </div>




                            </div>

                            <div class="ln_solid"></div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        
    </div>




    <script>
        function setInputDate(_id) {
            var _dat = document.querySelector(_id);
            var hoy = new Date(),
                d = hoy.getDate(),
                m = hoy.getMonth() + 1,
                y = hoy.getFullYear(),
                data;

            if (d < 10) {
                d = "0" + d;
            };
            if (m < 10) {
                m = "0" + m;
            };

            data = y + "-" + m + "-" + d;
            console.log(data);
            _dat.value = data;
        };

        setInputDate("#dateDefault");
    </script>

    <script>
        function setInputDate(_id) {
            var _dat = document.querySelector(_id);
            var hoy = new Date(),
                d = hoy.getDate(),
                m = hoy.getMonth() + 1,
                y = hoy.getFullYear(),
                data;

            if (d < 10) {
                d = "0" + d;
            };
            if (m < 10) {
                m = "0" + m;
            };

            data = y + "-" + m + "-" + d;
            console.log(data);
            _dat.value = data;
        };

        setInputDate("#dateDefault2");
    </script>



</body>

</html>
