@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>TimeOutPage.cshtml</title>
</head>
<body>
    <div>
        SESSION
    </div>
</body>
</html>
